* { 
    margin: 0;
    padding: 0;
}
/*this will add external ubuntu font*/
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://fonts.gstatic.com/s/ubuntu/v7/sVvvcJDRTINJla2R4XwPVevvDin1pK8aKteLpeZ5c0A.ttf) format('truetype');
}
body { 
	font-family: Ubuntu, Verdana, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	background: WhiteSmoke; 
	margin: 0; 
	padding: 0;
}
#page {
  background-color: #EDF7FF;
  width: 800px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
header {
    width: 799px;
    height: 64px;
    background-color: rgba(176, 176, 176, 0.19);
}
#logo {
    width: 98px;
    height:60px;
    float: left;
    margin-left: 2px;
    margin-top: 2px;
}
nav{
    width: 90%;
}
#floater {
    float: left;
    height: 50px;
    width: 22px;
}
#navigation {
    float: left;
    margin-left: auto;
    margin-right: auto;
/*
    width: 100%;
*/
}
#foo {
    color:black;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    background-color: #B0B0B0;
    align-items: center;
}
nav{
    height:64px;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
/*    text-align: center;*/
/*    padding-left: 5px;
    padding-right: 5px;*/
    margin-left: 5px;
    margin-right: 5px;
    line-height:64px;
}
nav ul li:hover {
    background-color:rgba(176, 176, 176, 0.35);

}
nav ul {
    text-align: center;
/*
    padding: 0;
*/
}
footer { 
	text-align: center; 
	}
footer a:link, footer a:visited { 
	margin-right: 20px; 
	}
footer ul {
    margin-left:10px;
    float:left;
}
footer ul li{
    display: inline-block;
    list-style-type: none;
}
footer ul li img{
    height:40px;
}
ul {
    font-size: 20px;
    font-weight: bold;
}
a {
    text-decoration: none;
    font-weight: bold; 
    color: #003399;
    }
a:visited {
    text-decoration: none;
    color: #003399 ;
}
.content {
    width: 95%;
    margin: auto;
}
.content img {
    margin: 20px;
    width: 300px;
}
.imgright{
    float:right;
    text-align: center;
}
.imgrightzoom img{
    float:right;
    width:auto;
}
.zoom{
}
