<div id="footer">
  {% block footer %}
    <p style="line-height:38px;float:left;margin-left:10px;">Follow us!</p>
        <ul>
            <li><a href="http://www.facebook.com/covguide" target="_blank"><img src="/static/fb.png" alt="Facebook button"></a></li>
            <li><a href="http://www.flickr.com/covguide" target="_blank"><img src="/static/flickr.png" alt="Flickr button"></a></li>
            <li><a href="http://www.twitter.com/covguide" target="_blank"><img src="/static/twitter.png" alt="Twitter button"></a></li>
            <li><a href="http://plus.google.com/+covguide" target="_blank"><img src="/static/gplus.png" alt="Google Plus button"></a></li>
        </ul>
    <a  href="http://validator.w3.org/check?uri=referer" target="_blank" ><img src="/static/html5_valid.png" alt="the html5 valid logo"> </a>
  {% endblock %}

</div>
