    <header>
      {% block header %}
        <div id="logo" itemscope itemtype="http://schema.org/City">
            <img itemprop="logo" src="/static/covlogo2.png" alt="Coventry City Logo" />
        </div>
        <nav>
            <div id="floater"></div>
            <div id="navigation">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/history">History</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="/university">University</a></li>
                    <li><a href="/info">Information</a></li>
                </ul>
            </div>
        </nav>
    {% endblock %}</header>
